body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../IMG/bg.jpg");
    color: white;
}

#page-wrap {
    width: 1100px;
    margin: 0 auto;

}

.top{
    border: solid black;

}
.bot{

}

#C1, #C2, #C3{
    padding-left: 10%;
}